.footer__conatiner{
    position: sticky;
    height: 210px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: inset;
}

.left__Side{
    width: 33%;
}

h1,h3,h4,p,span{
  font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

span:hover{
  color: red;
}
h4{
  color: yellowgreen;
}
.middle__Side>h1{
  font-size: 50px;
  color: red;
}
.middle__Side{
    margin-top: 10px;
    width: 33%;
}

.right__Side{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 33%;
}
.right__Side>a{
    text-decoration: none;
    margin-top: 15px;
}

img{
    width: 50%;
    object-fit: cover;
}

.text-container {
    overflow: hidden;
    background-color: red;
  }
  .moving-text {
    color: yellow;
    position: relative;
    display: inline-block;
    animation: move-text 20s linear infinite;
  }
  
  @keyframes move-text {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }